
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="static-page-title">
            <h3>
                <p>&nbsp;</p>
                Hakkımızda
                <p>&nbsp;</p>
            </h3>
        </div>EvimiKur Alışveriş Merkezleri Ticaret Anonim Şirketi</p>
        <p>Halkalı Merkez Mahallesi Basın Ekspres Yolu Evkur Plaza No:33 Kat:9 Küçükçekmece / İstanbul</p>
        <p>&nbsp;</p>
        <p>Mersis: 03823425641abc100017</p>
        <p>&nbsp;</p>

        <p>EvimiKur Mağaza Zinciri, 1988 yılında bir süpermarket olarak kurulmuş ve günümüze ülkemizin sayılı mağazalar zincirlerinden biri olarak gelmiştir.</p>
        <p>&nbsp;</p>
        <p>Değişen piyasa koşullarına paralel gelişen ihtiyaçlar ile teknolojiyi en verimli şekilde kullanmayı ilke edinmiş firma, bilgi teknolojileri altyapısında köklü değişikliğe gitme kararı almıştır. Yapılacak yatırım ile karar süreçlerinin mümkün olan en kısa süreye indirilmesi ve müşteri memnuniyetinde tüm rakiplerinin önünde olması hedeflenmektedir.</p>
        <p>&nbsp;</p>
        <h3>Firma Yapısı ve İş Akışı</h3>
        <p>&nbsp;</p>
        <p>
            EvimiKur Mağazalar Zinciri İstanbul, İzmir, Ankara, Bursa ve Adana illerindeki şubeleri ile faaliyetlerine devam etmektedir. Yaklaşık 1200 çalışanı ile portföyündeki 140.000’i aşkın müşterisine hizmet vermekte olan firma e-ticaret sitesi ile mevcut müşteri portföyünü her geçen gün biraz daha arttırmaktadır.

            Firma merkezi İstanbul Maslak’ta yer almaktadır ve tüm firma faaliyetleri bu merkezden takip edilmektedir. Firma içinde Satınalma, İnsan Kaynakları, Finans, Halkla İlişkiler ve Bilgi Teknolojileri departmanları yer almaktadır. Tüm faaliyetler bu departmanlardaki çalışanlar tarafından yönetilmekte ve bayiler arasındaki koordinasyon sağlanmaktadır.
        </p>
        <p>&nbsp;</p>
    </div>
</section>

