@model MODEL.Entities.AppUser
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="alert alert-success">
        <h3><span>@Model.UserName Hoşgeldiniz! Lütfen kayıt esnasında belirtmiş olduğunuz maili kontrol edin.</span></h3>
    </div>
</div>
