
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="alert alert-success text-center">
            <p>@TempData["Siparis"]</p>
        </div>
        
    </div>
</div>

