@model MODEL.Entities.SupplierContact
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/SatınAlma/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-success">
        <h3><span>@Model.Email hesabına mail gönderilmiştir.</span></h3>
    </div>
</div>

